@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:wght@100;300;400;700;900&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Orbitron:wght@400..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 1440px;
  margin: 0 auto;
}
.container header {
  background-color: rgb(1, 78, 86);
}
.container header .nav {
  padding-top: 77px;
  width: 1110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.container header .nav .nav-branch {
  display: flex;
  align-items: center;
  gap: 80px;
}
.container header .nav .nav-branch .nav-menu {
  display: flex;
  gap: 40px;
}
.container header .nav .nav-branch .nav-menu li {
  list-style: none;
}
.container header .nav .nav-branch .nav-menu li a {
  text-decoration: none;
  color: white;
}
.container header .nav .nav-btn .btn2 {
  padding: 9px 33px 11px 32px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 24px;
  color: rgb(255, 255, 255);
}
.container header .nav .nav-btn .btn2 {
  color: white;
}
.container header .hel {
  padding-top: 120px;
  padding-bottom: 120px;
  width: 1150px;
  display: flex;
  gap: 30px;
  justify-content: center;
}
.container header .hel .ab {
  align-items: center;
}
.container header .hel .ab .net-2 {
  font-family: Livvic;
  font-weight: 700;
  font-size: 64px;
  line-height: 100px;
  letter-spacing: 0px;
  color: rgb(255, 255, 255);
}
.container header .hel .net p {
  padding-top: 44px;
  width: 730px;
  font-family: Livvic;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  color: rgb(255, 255, 255);
}
.container .meet {
  background-color: rgb(0, 64, 71);
}
.container .meet h2 {
  padding-top: 140px;
  text-align: center;
  font-family: Livvic;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: center;
  color: rgb(255, 255, 255);
}
.container .meet .cardss {
  justify-content: center;
  display: flex;
  gap: 30px;
  margin-top: 48px;
  padding-bottom: 140px;
}
.container .meet .cardss .card {
  width: 350px;
  height: 253px;
  text-align: center;
  background-color: rgb(1, 47, 52);
}
.container .meet .cardss .card h2 {
  padding-top: 13px;
  font-family: Livvic;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
  color: rgb(121, 200, 199);
}
.container .meet .cardss .card p {
  font-family: Livvic;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  color: rgb(255, 255, 255);
}
.container .meet .cardss .card img {
  padding-top: 35px;
}
.container .meet .cards {
  justify-content: center;
  display: flex;
  gap: 30px;
  margin-top: 63px;
}
.container .meet .cards .card {
  width: 350px;
  height: 253px;
  text-align: center;
  background-color: rgb(1, 47, 52);
}
.container .meet .cards .card h2 {
  padding-top: 13px;
  font-family: Livvic;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
  color: rgb(121, 200, 199);
}
.container .meet .cards .card p {
  font-family: Livvic;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  color: rgb(255, 255, 255);
}
.container .meet .cards .card img {
  padding-top: 35px;
}

.con {
  padding-top: 120px;
  display: flex;
  align-items: center;
  gap: 150px;
  justify-content: center;
}
.con .conta h2 {
  font-family: Livvic;
  font-weight: 700;
  font-size: 64px;
  line-height: 100px;
  letter-spacing: 0px;
  color: rgb(255, 255, 255);
}
.con .conta h3 {
  padding-top: 16px;
  font-family: Livvic;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0px;
  color: rgb(246, 126, 126);
}
.con .conta .asa .as {
  display: flex;
  padding-top: 32px;
  align-items: center;
  gap: 23px;
}
.con .conta .asa .as h2 {
  font-family: Livvic;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  color: rgb(255, 255, 255);
}
.con .con-in input {
  display: block;
  margin-top: 24px;
  color: rgb(255, 255, 255);
}
.con .con-in button {
  padding: 9px 32px 11px 32px;
  font-family: Livvic;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  color: rgb(0, 64, 71);
  border-radius: 24px;
  border: none;
  margin-top: 24px;
}

.text {
  width: 1110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}